<img id="logo" src="~/Content/Images/logo.png" alt="Logo of the blog" />
<h2 id="title">This Is My Blog</h2>
<span id="current-page-title">@ViewBag.Title</span>
<nav id="header-menu">@Html.ActionLink("Home", "Index", "Home") | @Html.ActionLink("Guest", "Index", "Guest") | @Html.ActionLink("Form", "Index", "Form")</nav>
