@using Domain.Entities
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Home</h2>

@section Menu{
    @Html.ActionLink("Add new article", "CreateArticle", "Home")
    @((object) Html.ArticleMenuFor((List<Article>)ViewBag.Articles, ""))
}


@((object) Html.ArticleFor((List<Article>)ViewBag.Articles, ""))





